@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome to s3cr3tx</h1>
    <p>s3cr3tx is an API that helps you protect credentials stored and used in source code.</p>
</div>

