@{
    ViewData["Title"] = "s3cr3tx";
}

<div class="text-center">
    <h1 class="display-4">Welcome to s3cr3tx</h1>

    <p>s3cr3tx is an API that helps you protect credentials stored and used in source code.</p>
</div>
