@page
@model PrivacyModel
@{
    ViewData["Title"] = "s3cr3tx Privacy Policy";
}
<center>
    <h1>@ViewData["Title"]</h1>

    <p>Our privacy policy is to do our best to protect your privacy.</p>
</center>